<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cEventLimit</key>
	<integer>0</integer>
	<key>cEventsScores</key>
	<array>
		<dict>
			<key>cEventScoreID</key>
			<integer>5</integer>
			<key>competitor</key>
			<integer>4</integer>
			<key>editDone</key>
			<integer>0</integer>
			<key>edited</key>
			<integer>1</integer>
			<key>event</key>
			<integer>1</integer>
			<key>highJumpPlacingManual</key>
			<integer>0</integer>
			<key>meet</key>
			<integer>1</integer>
			<key>team</key>
			<integer>2</integer>
			<key>updateByUser</key>
			<string>owner</string>
		</dict>
		<dict>
			<key>cEventScoreID</key>
			<integer>4</integer>
			<key>competitor</key>
			<integer>4</integer>
			<key>editDone</key>
			<integer>0</integer>
			<key>edited</key>
			<integer>1</integer>
			<key>event</key>
			<integer>4</integer>
			<key>highJumpPlacingManual</key>
			<integer>0</integer>
			<key>meet</key>
			<integer>1</integer>
			<key>placing</key>
			<integer>2</integer>
			<key>result</key>
			<real>5</real>
			<key>score</key>
			<integer>3</integer>
			<key>team</key>
			<integer>2</integer>
			<key>updateByUser</key>
			<string>owner</string>
		</dict>
		<dict>
			<key>cEventScoreID</key>
			<integer>3</integer>
			<key>competitor</key>
			<integer>3</integer>
			<key>editDone</key>
			<integer>0</integer>
			<key>edited</key>
			<integer>1</integer>
			<key>event</key>
			<integer>4</integer>
			<key>highJumpPlacingManual</key>
			<integer>0</integer>
			<key>meet</key>
			<integer>1</integer>
			<key>placing</key>
			<integer>1</integer>
			<key>result</key>
			<real>6</real>
			<key>score</key>
			<integer>4</integer>
			<key>team</key>
			<integer>1</integer>
			<key>updateByUser</key>
			<string>owner</string>
		</dict>
		<dict>
			<key>cEventScoreID</key>
			<integer>2</integer>
			<key>competitor</key>
			<integer>2</integer>
			<key>editDone</key>
			<integer>0</integer>
			<key>edited</key>
			<integer>1</integer>
			<key>event</key>
			<integer>2</integer>
			<key>highJumpPlacingManual</key>
			<integer>0</integer>
			<key>meet</key>
			<integer>1</integer>
			<key>team</key>
			<integer>2</integer>
			<key>updateByUser</key>
			<string>owner</string>
		</dict>
		<dict>
			<key>cEventScoreID</key>
			<integer>7</integer>
			<key>competitor</key>
			<integer>2</integer>
			<key>editDone</key>
			<integer>0</integer>
			<key>edited</key>
			<integer>1</integer>
			<key>event</key>
			<integer>1</integer>
			<key>highJumpPlacingManual</key>
			<integer>0</integer>
			<key>meet</key>
			<integer>1</integer>
			<key>team</key>
			<integer>2</integer>
			<key>updateByUser</key>
			<string>owner</string>
		</dict>
		<dict>
			<key>cEventScoreID</key>
			<integer>8</integer>
			<key>competitor</key>
			<integer>1</integer>
			<key>editDone</key>
			<integer>0</integer>
			<key>edited</key>
			<integer>1</integer>
			<key>event</key>
			<integer>1</integer>
			<key>highJumpPlacingManual</key>
			<integer>0</integer>
			<key>meet</key>
			<integer>1</integer>
			<key>team</key>
			<integer>1</integer>
			<key>updateByUser</key>
			<string>owner</string>
		</dict>
		<dict>
			<key>cEventScoreID</key>
			<integer>1</integer>
			<key>competitor</key>
			<integer>1</integer>
			<key>editDone</key>
			<integer>0</integer>
			<key>edited</key>
			<integer>1</integer>
			<key>event</key>
			<integer>2</integer>
			<key>highJumpPlacingManual</key>
			<integer>0</integer>
			<key>meet</key>
			<integer>1</integer>
			<key>placing</key>
			<integer>1</integer>
			<key>result</key>
			<real>3</real>
			<key>score</key>
			<integer>4</integer>
			<key>team</key>
			<integer>1</integer>
			<key>updateByUser</key>
			<string>owner</string>
		</dict>
		<dict>
			<key>cEventScoreID</key>
			<integer>6</integer>
			<key>competitor</key>
			<integer>3</integer>
			<key>editDone</key>
			<integer>0</integer>
			<key>edited</key>
			<integer>1</integer>
			<key>event</key>
			<integer>1</integer>
			<key>highJumpPlacingManual</key>
			<integer>0</integer>
			<key>meet</key>
			<integer>1</integer>
			<key>team</key>
			<integer>1</integer>
			<key>updateByUser</key>
			<string>owner</string>
		</dict>
	</array>
	<key>competitorPerTeam</key>
	<integer>2</integer>
	<key>competitors</key>
	<array>
		<dict>
			<key>compID</key>
			<integer>2</integer>
			<key>compName</key>
			<string>jbuby</string>
			<key>editDone</key>
			<integer>0</integer>
			<key>edited</key>
			<integer>1</integer>
			<key>meet</key>
			<integer>1</integer>
			<key>team</key>
			<integer>2</integer>
			<key>teamName</key>
			<string>I've</string>
			<key>updateByUser</key>
			<string>owner</string>
		</dict>
		<dict>
			<key>compID</key>
			<integer>3</integer>
			<key>compName</key>
			<string>ugini</string>
			<key>editDone</key>
			<integer>0</integer>
			<key>edited</key>
			<integer>1</integer>
			<key>meet</key>
			<integer>1</integer>
			<key>team</key>
			<integer>1</integer>
			<key>teamName</key>
			<string>drefv</string>
			<key>updateByUser</key>
			<string>owner</string>
		</dict>
		<dict>
			<key>compID</key>
			<integer>4</integer>
			<key>compName</key>
			<string>bubuni</string>
			<key>editDone</key>
			<integer>0</integer>
			<key>edited</key>
			<integer>1</integer>
			<key>meet</key>
			<integer>1</integer>
			<key>team</key>
			<integer>2</integer>
			<key>teamName</key>
			<string>I've</string>
			<key>updateByUser</key>
			<string>owner</string>
		</dict>
		<dict>
			<key>compID</key>
			<integer>1</integer>
			<key>compName</key>
			<string>hhii</string>
			<key>editDone</key>
			<integer>0</integer>
			<key>edited</key>
			<integer>1</integer>
			<key>meet</key>
			<integer>1</integer>
			<key>team</key>
			<integer>1</integer>
			<key>teamName</key>
			<string>drefv</string>
			<key>updateByUser</key>
			<string>owner</string>
		</dict>
	</array>
	<key>decrementPerPlace</key>
	<integer>1</integer>
	<key>divisions</key>
	<array>
		<dict>
			<key>divID</key>
			<integer>2</integer>
			<key>divName</key>
			<string>ugug</string>
			<key>editDone</key>
			<integer>0</integer>
			<key>edited</key>
			<integer>1</integer>
			<key>meet</key>
			<string>n</string>
			<key>updateByUser</key>
			<string>owner</string>
		</dict>
		<dict>
			<key>divID</key>
			<integer>1</integer>
			<key>divName</key>
			<string>uhihh</string>
			<key>editDone</key>
			<integer>0</integer>
			<key>edited</key>
			<integer>1</integer>
			<key>meet</key>
			<string>n</string>
			<key>updateByUser</key>
			<string>owner</string>
		</dict>
	</array>
	<key>divsDone</key>
	<integer>1</integer>
	<key>editDone</key>
	<integer>1</integer>
	<key>edited</key>
	<integer>0</integer>
	<key>events</key>
	<array>
		<dict>
			<key>division</key>
			<integer>1</integer>
			<key>editDone</key>
			<integer>1</integer>
			<key>edited</key>
			<integer>0</integer>
			<key>eventDone</key>
			<integer>0</integer>
			<key>eventEdited</key>
			<integer>0</integer>
			<key>eventID</key>
			<integer>3</integer>
			<key>gEvent</key>
			<integer>2</integer>
			<key>meet</key>
			<integer>1</integer>
			<key>updateByUser</key>
			<string>owner</string>
		</dict>
		<dict>
			<key>division</key>
			<integer>1</integer>
			<key>editDone</key>
			<integer>0</integer>
			<key>edited</key>
			<integer>1</integer>
			<key>eventDone</key>
			<integer>0</integer>
			<key>eventEdited</key>
			<integer>1</integer>
			<key>eventID</key>
			<integer>1</integer>
			<key>gEvent</key>
			<integer>1</integer>
			<key>meet</key>
			<integer>1</integer>
			<key>updateByUser</key>
			<string>owner</string>
		</dict>
		<dict>
			<key>division</key>
			<integer>2</integer>
			<key>editDone</key>
			<integer>0</integer>
			<key>edited</key>
			<integer>1</integer>
			<key>eventDone</key>
			<integer>0</integer>
			<key>eventEdited</key>
			<integer>1</integer>
			<key>eventID</key>
			<integer>2</integer>
			<key>gEvent</key>
			<integer>1</integer>
			<key>meet</key>
			<integer>1</integer>
			<key>updateByUser</key>
			<string>owner</string>
		</dict>
		<dict>
			<key>division</key>
			<integer>2</integer>
			<key>editDone</key>
			<integer>0</integer>
			<key>edited</key>
			<integer>1</integer>
			<key>eventDone</key>
			<integer>0</integer>
			<key>eventEdited</key>
			<integer>1</integer>
			<key>eventID</key>
			<integer>4</integer>
			<key>gEvent</key>
			<integer>2</integer>
			<key>meet</key>
			<integer>1</integer>
			<key>updateByUser</key>
			<string>owner</string>
		</dict>
	</array>
	<key>eventsDone</key>
	<integer>1</integer>
	<key>gEvents</key>
	<array>
		<dict>
			<key>competitorsPerTeam</key>
			<integer>2</integer>
			<key>decrementPerPlace</key>
			<integer>1</integer>
			<key>editDone</key>
			<integer>0</integer>
			<key>edited</key>
			<integer>1</integer>
			<key>gEventID</key>
			<integer>1</integer>
			<key>gEventName</key>
			<string>utfifk</string>
			<key>gEventType</key>
			<string>Track</string>
			<key>maxScoringCompetitors</key>
			<integer>2</integer>
			<key>meet</key>
			<string>n</string>
			<key>scoreForFirstPlace</key>
			<integer>0</integer>
			<key>scoreMultiplier</key>
			<integer>1</integer>
			<key>updateByUser</key>
			<string>owner</string>
		</dict>
		<dict>
			<key>competitorsPerTeam</key>
			<integer>2</integer>
			<key>decrementPerPlace</key>
			<integer>1</integer>
			<key>editDone</key>
			<integer>0</integer>
			<key>edited</key>
			<integer>1</integer>
			<key>gEventID</key>
			<integer>2</integer>
			<key>gEventName</key>
			<string>Byrd</string>
			<key>gEventType</key>
			<string>Field</string>
			<key>maxScoringCompetitors</key>
			<integer>2</integer>
			<key>meet</key>
			<string>n</string>
			<key>scoreForFirstPlace</key>
			<integer>0</integer>
			<key>scoreMultiplier</key>
			<integer>1</integer>
			<key>updateByUser</key>
			<string>owner</string>
		</dict>
	</array>
	<key>isOwner</key>
	<integer>1</integer>
	<key>maxScoringCompetitors</key>
	<integer>2</integer>
	<key>meetDate</key>
	<date>2015-10-26T15:21:08Z</date>
	<key>meetID</key>
	<integer>1</integer>
	<key>meetName</key>
	<string>n</string>
	<key>onlineMeet</key>
	<integer>0</integer>
	<key>scoreForFirstPlace</key>
	<integer>0</integer>
	<key>scoreMultiplier</key>
	<integer>1</integer>
	<key>teams</key>
	<array>
		<dict>
			<key>editDone</key>
			<integer>0</integer>
			<key>edited</key>
			<integer>1</integer>
			<key>meet</key>
			<integer>1</integer>
			<key>teamAbr</key>
			<string></string>
			<key>teamID</key>
			<integer>1</integer>
			<key>teamName</key>
			<string>drefv</string>
			<key>teamPlace</key>
			<integer>0</integer>
			<key>teamScore</key>
			<real>0.0</real>
			<key>updateByUser</key>
			<string>owner</string>
		</dict>
		<dict>
			<key>editDone</key>
			<integer>0</integer>
			<key>edited</key>
			<integer>1</integer>
			<key>meet</key>
			<integer>1</integer>
			<key>teamAbr</key>
			<string>ty</string>
			<key>teamID</key>
			<integer>2</integer>
			<key>teamName</key>
			<string>I've</string>
			<key>teamPlace</key>
			<integer>0</integer>
			<key>teamScore</key>
			<real>0.0</real>
			<key>updateByUser</key>
			<string>owner</string>
		</dict>
	</array>
	<key>teamsDone</key>
	<integer>1</integer>
	<key>updateByUser</key>
	<string>owner</string>
</dict>
</plist>
